node_modules
npm-debug.log
bower_components
dumps/*
dump.*
.forever*
.tmp/*
.sass-cache
lib-cov
*.seed
*.log
*.out
*.pid
*~
*#
.DS_STORE
.idea
.node_history
.ackrc
.nvmrc
www
/screenshots
/coverage
/credentials.json
*.pyc